<div class="banner">
	<img src="#{domain}/image/banner1.jpg" alt="铝合金断桥铝门窗banner图" title="铝合金断桥铝门窗banner图"/>
</div>

- var menu = url


<div class="menu">
	if menu == "index"
		<div><a href=#{domain} title="网站首页" alt="网站首页" class="focus">首页</a></div>
	else
		<div><a href=#{domain} title="网站首页" alt="网站首页" >首页</a></div>

	if menu == "news"

		<div><a href=#{domain}/news.html title="行业新闻" alt="行业新闻" class="focus">行业新闻</a></div>
	else
		<div><a href=#{domain}/news.html title="行业新闻" alt="行业新闻">行业新闻</a></div>



	<div><a href="#" title="断桥铝的认识" alt="断桥铝的认识">断桥铝的认识</a></div>
	if menu == "product"

		<div><a href=#{domain}/surface.html title="断桥铝产品中心" alt="断桥铝产品中心"  class="focus">断桥铝产品中心</a>
		</div>

	else	
		<div><a href=#{domain}/surface.html  title="断桥铝产品中心" alt="断桥铝产品中心">断桥铝产品中心</a></div>

	if menu == "companyVideo"
		<div><a href=#{domain}/companyVideo.html  title="企业视频" alt="企业视频"  class="focus">企业视频</a></div>
	else
		<div><a href=#{domain}/companyVideo.html  title="企业视频" alt="企业视频">企业视频</a></div>

	if menu == "contcat"
		<div><a href=#{domain}/contcat.html  title="联系我们" alt="联系我们"  class="focus">联系我们</a></div>
	else
		<div><a href=#{domain}/contcat.html  title="联系我们" alt="联系我们">联系我们</a></div>

</div>