<ul class="left_menu">
	- var surl = surl
	if surl=='introduce'

		<li><a href="#{domain}/introduce.html"  class="focus">公司简介</a>
	else
		<li><a href="#{domain}/introduce.html">公司简介</a>


	if surl=='net'

		<li><a  href="#{domain}/net.html"  class="focus">销售网络</a>
	else
		<li><a  href="#{domain}/net.html">销售网络</a>


	if surl=='contcat'

		<li><a href="#{domain}/contcat.html"  class="focus">联系我们</a>
	else
		<li><a href="#{domain}/contcat.html">联系我们</a>



	<li><a href="#">营销理念</a>
</ul>