<ul class="left_menu">
	- var surl = surl
	if surl=='companyNews'

		<li><a href="#{domain}/companyNews.html" class="focus">企业动态</a></li>

	else
		<li><a href="#{domain}/companyNews.html">企业动态</a></li>

	if surl=='news'

		<li><a href="#{domain}/news.html" class="focus">行业新闻</a></li>
	else	
		<li><a href="#{domain}/news.html" >行业新闻</a></li>
	
	if surl=='tips'

		<li><a href="#{domain}/tips.html" class="focus">行业小知识</a></li>
	else	
		<li><a href="#{domain}/tips.html">行业小知识</a></li>



</ul>

