<ul class="left_menu">
- var surl = surl
	if surl=='surface'
		<li><a href=#{domain}/surface.html class="focus" >表面处理</a>
	else
		<li><a href=#{domain}/surface.html >表面处理</a>

	if surl=='cate'

		<li><a href=#{domain}/cate.html class="focus">型材类别</a>
	else
		<li><a href=#{domain}/cate.html>型材类别</a>

	if surl=='case'
		<li><a href=#{domain}/case.html  class="focus">工程案例</a>
	else
	
		<li><a href=#{domain}/case.html>工程案例</a>
</ul>